{{ partial "header.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <p><img style="height: 64px" src="/images/glance.svg"/><p>
            <p style="font-size: 2rem">A referencing language to simplify references in your automation</p>
            <h3>Learn about Glance</h3>
            <p><a href="/take-a-glance">Take a Glance</a> - Learn how to read Glance by playing a game</p>
            <h3>DOM Referencing</h3>
            <p><a href="/glance-dom">DOM Selector</a> - Select DOM elements using Glance.</p>
            <h3>Browser Testing</h3>
            <p><a href="/glance/webdriver">Glance webdriver</a> - A selenium automation tool that utilizes contextual
                labels to automate faster and loosen the ties to the DOM.</p>
            <p><a href="https://github.com/quasimatic/Cast">Cast</a> - Declaratively set and validate the state of your
                web page</p>
            <h3>
                <a href="https://github.com/quasimatic/quasimatic.github.io/blob/b55a5d22eefa3863f0d63a168780023c1b34195c/index.md#support-or-contact"></a>Support
                or Contact</h3>
            <p>Contact us at&nbsp;<a href="mailto:info@quasimatic.org">info@quasimatic.org</a></p>
            <p><a href="mailto:info@quasimatic.org"></a>Follow us on <a href="https://twitter.com/quasimatic">@Quasimatic</a><br>Git
                us&nbsp;at&nbsp;<a href="https://github.com/quasimatic">https://github.com/quasimatic</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
